{% extends "auctions/layout.html" %}

{% block body %}

<div>
    <form action="createListing" method="post">
        {% csrf_token %}
        <div class="row mb-3">
              <div class="col-auto">
                {{ form.title }}
              </div>
              <div class="col-auto">
                {{ form.artist }}
              </div>
              <div class="col-auto">
                {{ form.category }}
                </div>
        </div>
        <div class="row mb-3">
              <div class="col-auto">
                {{ form.description }}
              </div>         
        </div>
        <div class="row mb-3">
            <div class="col-auto">
            {{ form.startingPrice }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto">
            {{ form.imageUrl }}
            </div>
        </div>
        </div>
        <div>
            <input type="submit" value="Create Listing">
        </div>
    </form>
</div>

{% endblock %}