{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div>
        {% for listing in listings %}
        <div>
            <h4>{{ listing.title }} by {{ listing.artist }}</h4>
            <div>Genre: {{ listing.category }}</div>
            <div>Listed by {{ listing.seller.username }}</div>
            <div style="height:20vh; width:20vh;">
                <img src="{{ listing.imageUrl }}" alt="{{ listing.title }} by {{ listing.artist }}" style="width:20vh; height:20vh;" >
            </div>
            <div>{{ listing.description }}</div>
            <div>
            {% if not listing.currentBid %}
             Current Price : {{ listing.startingPrice}}$
             {% else %}
             Current Price : {{ listing.currentBid }}
             {% endif %}
             </div>
             <div>
                <form action="placeBid" method="post">
                    <input type="number" step="0.01" min="0">
                    <div>
                        <button type="submit">Place Bid</button>
                    </div>
                </form>                
             </div>
        </div>
            {% endfor %}

    </div>

   
{% endblock %}