{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>{{ listing.title }} by {{ listing.artist }}</h4>
            <div>
                <div>{{ listing.category }}</div>
                <div>Listed by {{ listing.seller }}</div>

                {% if not listing.active %}
                    {% if request.user.is_authenticated and request.user == listing.winner %}
                    <h6 style="color:green;">You have won the auction!!</h6>
                    {% else %}
                    <h6 style="color:red;">Auction is closed</h6>
                    {% endif %}
                    {% if in_watchlist %}
                            <div class="mt-2">
                                <form action="{% url 'removeFromWatchlist' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Remove from Watchlist</button>
                                </form>
                            </div>
                    {% endif %}

                {% else %}
                <div class="container mt-1">
                    <div class="row">
                        <div class="col" style="height:35vh; width:35vh;">
                            <img src="{{ listing.imageUrl }}" alt="{{ listing.title }} by {{ listing.artist }}" style="width:35vh; height:35vh;" >
                        </div>
                        <div class="col">
                            <div>
                                {%if not listing.currentBid %}
                                    Starting Price: {{ listing.startingPrice }}$
                                {% else %}
                                    Current Price: {{ listing.currentBid }}$
                                {% endif %}   
                            </div>
                            {% if request.user.is_authenticated %}
                            <div>
                                <form action="{% url 'placeBid' listing.id %}"  method="post">
                                    {% csrf_token %}
                                    <div>
                                        <input type="number" name="offer" step="0.01" min="0">
                                    </div>                          
                                    <div class="mt-2">
                                        <button type="submit">Place Bid</button>
                                    </div>
                                </form>
                            </div>
                            {% if low_offer %}
                            <div class="mt-2">Offer is too low</div>
                            {% endif %}   
                            {% if in_watchlist %}
                            <div class="mt-2">
                                <form action="{% url 'removeFromWatchlist' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Remove from Watchlist</button>
                                </form>
                            </div>
                            {% else %}
                            <div class="mt-2">
                                <form action="{% url 'addToWatchlist'  listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Add to Watchlist</button>
                                </form>
                            </div>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user == listing.seller %}
                            <div class="mt-2">
                                <form action="{% url 'closeAuction' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Close auction</button>
                                </form>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="mt-2">
                                <a href="{% url 'login' %}">Login to place a bid</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="mt-1">{{ listing.description}}</div>
            </div>
        </div>
    
        <div class="col">
            <h4>Comment section</h4>
            <div class="overflow-auto" style="height:30vh;">
                {% for comment in comments %}
                    <div>
                        <h6>{{ comment.commenter.username }} {{ comment.date|date:"d/m/Y H:i:s" }}</h6>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>           
            <div class="mt-3">
                <form action="{% url 'comment' listing.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" placeholder="Leave a comment" style="width:100%;"></textarea>
                    <div>
                        <button type="submit">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}